<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/cinema.css">
</head>
<body>
    <div class="main">
        <div class="title">
            <span>影院列表</span>
        </div>
        <div class="cinema">
            <div class="content">
                <span style="font-size: 20px;font-weight: bold">CGV影城（凯德西城IMAX店）</span>
                <span>地址：硚口区解放大道十八号凯德广场05层。古田二路入口（古田二路生活一村公交站，古田小学斜对面）</span>
                <div class="tag">
                    <span>改签</span>
                    <span>折扣卡</span>
                    <span>IMAX厅</span>
                </div>
            </div>
            <div class="price myFlex_x">
                <span>￥</span>
                <span>30</span>
                <span>元</span>
            </div>
            <div class="buy myFlex_x">
                <button>特惠购票</button>
            </div>
        </div>
    </div>
</body>
</html>