<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import "../css/public.css";
        .Main>.login{
            width: 100%;
            height: 800px;
            background-color: #5a8bbb;
        }
        .Main>.login>form>*{
            font-size: 30px;
            height: 30px;
            margin: 5px;
        }
        .Main>.login>form>span{
            display: inline;
            color: black;
        }
    </style>
</head>
<body>
    <div class="Main">
        <div class="login myFlex_y">
            <form action="#" method="get">
                <label>用户名：</label>
                <input type="text" onchange="doChange()" onfocus="doFocus()" onblur="doBlurForUsername(this)" >
                <span id="UsernameFormatInfo">请输入6-12位由数字或英文字母组成的用户名</span>
                <br>
                <label>密码：</label>
                <input type="password" onblur="doBlurForPassword(this)">
                <span id="passwordFormatInfo">请输入6-18位由数字和英文字母组成的密码</span>
                <br>
                <input type="submit">
                <input type="reset">
            </form>
        </div>
    </div>
    <script>
        function doBlurForUsername(that) {
            console.log("离开");
            var reg = /^[0-9a-zA-z]{6,12}$/;
            var text = document.getElementById("UsernameFormatInfo");
            testText(reg, text, that);
        }
        function doBlurForPassword(that) {
            console.log("离开");
            var reg = /^(?=.*[0-9])(?=.*[a-zA-Z])[0-9a-zA-Z]{6,18}$/;
            var text = document.getElementById("passwordFormatInfo");
            testText(reg, text, that);
        }
        function testText(reg, text, that) {
            if(!reg.test(that.value)){
                text.style.color = "red";
                text.innerText = "您的输入不符合要求";
                console.log("格式不正确");
            } else {
                text.style.color = "green";
                text.innerText = "输入格式正确";
                console.log("格式正确");
            }
        }
        function doChange() {
            console.log("改变");
        }
        function doFocus() {
            console.log("聚焦");
        }
    </script>
</body>
</html>