<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/timeList.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
</head>
<body>
    <div class="timeListPage">
        <div class="title">
            <div class="head">
                <span class="name" style="margin-right: 35px;">第八嫌疑人</span>
                <span class="score" style="margin-right: 3px;color: orange">9.6</span>
                <span style="font-size: 20px;color: orange">分</span>
            </div>
            <div class="content">
                <span class="title">时长：</span><span>分钟</span>
                <span class="title">类型：</span><span>悬疑</span>
                <span class="title">主演：</span><span>张三、李四、王五</span>
            </div>
        </div>
        <div class="dayOption">
            <span style="margin-right: 10px;color: gray">观影时间：</span>
            <div style="margin-right: 20px">今天 11月4日</div>
            <div style="margin-right: 10px">周日 11月5日</div>
        </div>

        <table>
            <tr>
                <th>放映时间</th>
                <th>语言版本</th>
                <th>放映厅</th>
                <th>售价（元）</th>
                <th>选座购票</th>
            </tr>
            <tr>
                <td><span style="font-size: 20px;font-weight: bold">10:40</span><br>
                    <span style="font-size: 10px">16:19散场</span></td>
                <td>国语2D</td>
                <td>一号厅</td>
                <td style="font-size: 18px;color: red;font-weight: bold">￥38</td>
                <td><button style="padding: 3px">选座购票</button></td>
            </tr>
            <tr>
                <td><span style="font-size: 20px;font-weight: bold">10:40</span><br>
                    <span style="font-size: 10px">16:19散场</span></td>
                <td>国语2D</td>
                <td>一号厅</td>
                <td style="font-size: 18px;color: red;font-weight: bold">￥38</td>
                <td><button style="padding: 3px">选座购票</button></td>
            </tr>
            <tr>
                <td><span style="font-size: 20px;font-weight: bold">10:40</span><br>
                    <span style="font-size: 10px">16:19散场</span></td>
                <td>国语2D</td>
                <td>一号厅</td>
                <td style="font-size: 18px;color: red;font-weight: bold">￥38</td>
                <td><button style="padding: 3px">选座购票</button></td>
            </tr>
            <tr>
                <td><span style="font-size: 20px;font-weight: bold">10:40</span><br>
                    <span style="font-size: 10px">16:19散场</span></td>
                <td>国语2D</td>
                <td>一号厅</td>
                <td style="font-size: 18px;color: red;font-weight: bold">￥38</td>
                <td><button style="padding: 3px">选座购票</button></td>
            </tr>
            <tr>
                <td><span style="font-size: 20px;font-weight: bold">10:40</span><br>
                    <span style="font-size: 10px">16:19散场</span></td>
                <td>国语2D</td>
                <td>一号厅</td>
                <td style="font-size: 18px;color: red;font-weight: bold">￥38</td>
                <td><button style="padding: 3px">选座购票</button></td>
            </tr>
        </table>
    </div>
</body>
</html>