<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/timeList.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
</head>
<body>
    <div class="timeListPage">
        <div class="title">
            <div class="head">
                <span class="name" style="margin-right: 35px;">第八嫌疑人</span>
                <span class="score" style="margin-right: 3px;color: orange">9.6</span>
                <span style="font-size: 20px;color: orange">分</span>
            </div>
            <div class="content">
                <span class="title">时长：</span><span>分钟</span>
                <span class="title">类型：</span><span>悬疑</span>
                <span class="title">主演：</span><span>张三、李四、王五</span>
            </div>
        </div>
        <div class="dayOption">
            <span style="margin-right: 10px;color: gray">观影时间：</span>
            <div style="margin-right: 20px">今天 11月4日</div>
            <div style="margin-right: 10px">周日 11月5日</div>
        </div>
        <div class="list_title">
            <div class="myFlex_x">放映时间</div>
            <div class="myFlex_x">语言版本</div>
            <div class="myFlex_x">放映厅</div>
            <div class="myFlex_x">售价（元）</div>
            <div class="myFlex_x">选座购票</div>
        </div>
        <div class="each_time">
            <div class="time myFlex_y" style="line-height: 23px">
                <div style="font-weight: bold;font-size: 20px">14:20</div>
                <div style="color: gray;font-size: 10px">16:19散场</div>
            </div>
            <div class="type myFlex_x" style="font-size: 14px">国语2D</div>
            <div class="room myFlex_x" style="font-size: 14px">一号厅</div>
            <div class="price myFlex_x">
                <span style="font-size: 10px;margin-top: 3px">￥</span>
                <span style="font-size: 18px; font-weight: bold; color: red">38</span>
            </div>
            <div class="button myFlex_x">
                <div class="layui-btn layui-btn-danger layui-btn-radius">选座购票</div>
            </div>
        </div>
    </div>
</body>
</html>